/* 
 * general class
 */
body {
    font-family: sans-serif;
    font-size: 10pt;;
}
div {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.table-tr {
    display: table-row;
}
.table-tr>div {
    border: 1px solid #999;
    padding: 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.btn {
    color: #428bca;
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0 0 2px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
}
.btn:hover {
    background-color: #a2dbff;
    transition: 0.25s;
}
.btn:active {
    color: #a2fbff;
    background-color: #226baa;
    transition: 0.01s;
}

/*
 * search class
 */
.search-input {
    margin: 0 0 20px 0;
}
.sorting::after {
    content: ' \025BC';
    display: inline;
    font-size: x-small;
    color: #888888;
}
.sorting.asc::after {
    content: ' \025B2';
    display: inline;
    font-size: x-small;
    color: #888888;
}
div.header-icon {
    width: 5.2%;
}
div.header-no {
}
div.header-skills {
    width: 7%;
}
div.header-status {
    width: 4%;
}
div.header-resist {
    width: 3.8%;
}
div.contnet-icon {
    text-align: center;
}
div.content-no {
    white-space: nowrap;
}
div.content-skill {
    white-space: nowrap;
}
div.content-skill-items {
}
div.content-skill-item-empty {
    margin: 2px 2px 2px 2px;
    background-color: #FEFEFE;
    color: #CACACA;
    display: block;
    height: 16px;
    border: 1px dashed #B0B0B0;
    padding: 2px 0px 0px 4px;
}
div.content-skill-item-empty:hover {
    cursor: hand;
    margin: 2px 2px 2px 2px;
    background-color: #FCFCFC;
    color: #AAAAAA;
    display: block;
    height: 16px;
    border: 1px dashed #AAAAAA;
}
div.content-skill-item-name {
    display: inline-block;
    line-height: 20px;
}
div.content-skill-item-name {
    display: inline-block;
    line-height: 20px;
}
div.content-skill-item-name.selection {
    display: inline-block;
    line-height: 20px;
    border: 1px solid #EEEEEE;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    cursor: hand;
}
div.content-skill-item-name.selection.skill10:hover {
    background: rgba(255, 51, 44, 0.34); /* red */
}
div.content-skill-item-name.selection.skill20:hover {
    background: rgba(201, 58, 248, 0.32); /* purple */
}
div.content-skill-item-name.selection.skill30:hover {
    background: rgba(53, 232, 55, 0.32); /* green */
}
div.content-skill-item-name.selection.skill40:hover {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill50:hover {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill60:hover {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill70:hover {
    background: rgba(0,205,244,0.32);
}
div.content-skill-item-name.selection.skill80:hover {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill90:hover {
    background: rgba(53, 232, 55, 0.32);
}
div.content-skill-item-name.selection.skill100:hover {
    background: rgba(0,205,244,0.32);
}
div.content-skill-item-name.selection.skill110:hover {
    background: rgba(201, 58, 248, 0.32);
}
div.content-skill-item-name.selection.skill120:hover {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill130:hover {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill140:hover {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill150:hover {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill160:hover {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill170:hover {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill180:hover {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill190:hover {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.selected {
    border: 3px solid #F93737;
}
div.content-skill-item-name.selection.skill10.selected {
    background: rgba(255, 51, 44, 0.34); /* red */
}
div.content-skill-item-name.selection.skill20.selected {
    background: rgba(201, 58, 248, 0.32); /* purple */
}
div.content-skill-item-name.selection.skill30.selected {
    background: rgba(53, 232, 55, 0.32); /* green */
}
div.content-skill-item-name.selection.skill40.selected {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill50.selected {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill60.selected {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill70.selected {
    background: rgba(0,205,244,0.32);
}
div.content-skill-item-name.selection.skill80.selected {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill90.selected {
    background: rgba(53, 232, 55, 0.32);
}
div.content-skill-item-name.selection.skill100.selected {
    background: rgba(0,205,244,0.32);
}
div.content-skill-item-name.selection.skill110.selected {
    background: rgba(201, 58, 248, 0.32);
}
div.content-skill-item-name.selection.skill120.selected {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill130.selected {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill140.selected {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-name.selection.skill150.selected {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill160.selected {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill170.selected {
    background: rgba(255, 51, 44, 0.34);
}
div.content-skill-item-name.selection.skill180.selected {
    background: rgba(255, 217, 54, 0.32); /* yellow */
}
div.content-skill-item-name.selection.skill190.selected {
    background: rgba(0,205,244,0.32); /* blue */
}
div.content-skill-item-type {
    background: url(http://dqmsl-search.net/img/tokugiSprite6.png) no-repeat;
    height: 17px;
    width: 17px;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    vertical-align: text-bottom;
}
div.skill10 {
    background-position: 0px 0px;
}
div.skill20 {
    background-position: -17px 0px;
}
div.skill30 {
    background-position: -34px 0px;
}
div.skill40 {
    background-position: -51px 0px;
}
div.skill50 {
    background-position: -68px 0px;
}
div.skill60 {
    background-position: -85px 0px;
}
div.skill70 {
    background-position: -102px 0px;
}
div.skill80 {
    background-position: -119px 0px;
}
div.skill90 {
    background-position: -136px 0px;
}
div.skill100 {
    background-position: -153px 0px;
}
div.skill110 {
    background-position: 0px -17px;   
}                                   
div.skill120 {                      
    background-position: -17px -17px;
}
div.skill130 {
    background-position: -34px -17px;
}
div.skill140 {
    background-position: -51px -17px;
}
div.skill150 {
    background-position: -68px -17px;
}
div.skill160 {
    background-position: -85px -17px;
}
div.skill170 {
    background-position: -102px -17px;
}
div.skill180 {
    background-position: -119px -17px;
}
div.skill190 {
    background-position: -136px -17px;
}
div.skill200 {
    background-position: -153px -17px;
}
.reset-skills {
    float: right;
    display: block;
    font-size: smaller;
    cursor: hand;
}
div.content-status {
    text-align: right;
}
div.content-resist {
    text-align: center;
}

/*
 * monster display
 */
.monster-icon-small {
    width: 60px;
    height: 60px;
}

.star-icon0::after {
    display: none;
}

.star-icon0 {
    width: 60px;
    white-space: nowrap;
}

.star-icon1 {
    width: 60px;
    white-space: nowrap;
}

.star-icon2 {
    width: 60px;
    white-space: nowrap;
}

.star-icon3 {
    width: 60px;
    white-space: nowrap;
}

.star-icon4 {
    width: 60px;
    white-space: nowrap;
}

.star-icon1::after {
    background-image: url('../images/numebrs.png');
    background-position: 0px 0px;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    content: '';
    position: relative;
    top: -40px;
    left: -20px;
}

.star-icon2::after {
    background-image: url('../images/numebrs.png');
    background-position: -25px 0px;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    content: '';
    position: relative;
    top: -40px;
    left: -20px;
}

.star-icon3::after {
    background-image: url('../images/numebrs.png');
    background-position: -50px 0px;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    content: '';
    position: relative;
    top: -40px;
    left: -20px;
}

.star-icon4::after {
    background-image: url('../images/numebrs.png');
    background-position: -75px 0px;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: inline-block;
    content: '';
    position: relative;
    top: -40px;
    left: -20px;
}

.search-result .star-on {
    font-weight: bold;
    font-size: larger;
}

.resist-REFLECT {
    font-weight: bold;
    color: #A1A2A3;
}
.resist-ABSORB {
    font-weight: bold;
    color: #AC5FE0;
}
.resist-VOID {
    font-weight: bold;
    color: #FF2011;
}
.resist-HELF {
    font-weight: bold;
    color: #FF6B16;
}
.resist-LOT {
    font-weight: bold;
    color: #FD4417;
}
.resist-LITTLE {
    font-weight: bold;
    color: #EF9410;
}
.resist-WEEK {
    font-weight: bold;
    color: #159BCB;
}
.resist-VERY_WEEK {
    font-weight: bold;
    color: #41B1D0;
}

/*
 * skillPicker
 */
.skillPicker {
    padding: 10px;
    border: 1px solid #AAAAAA;
    position: fixed;
    top: 50px;
    left: 200px;
    background: #FFFFFF;
    width: 75%;
    height: 450px;
    display: none;
}
.skillPickerPanel {
    margin: 10px 0px 20px 10px;
    padding: 10px;
    border: 1px solid #AAAAAA;
    background: #FFFFFF;
    width: 95%;
    height: 370px;
    overflow: scroll;
}
