<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="js/party.js" ></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-924104-6', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body ng-app="partyApp">

    <!-- search input section -->
    <div class="search-section" ng-controller="searchMonsterController">
      <div class="search-input">
        Monster No: <input type="text" value="monster number" ng-model="searchNo" ng-enter="searchMultiple()" />
        <a class="btn" ng-click="searchMultiple()">Search</a>
        <a class="btn" ng-click="saveResult()">Save Result</a>
        <a class="btn" ng-click="loadSaved()">Load Saved</a>
      </div>

      <!-- search error -->
      <div class="search-error" ng-hide="!error">{{error}}</div>

      <!-- search result -->
      <div class="search-result table" ng-hide="!results">
        <div class="table-tr">
          <div></div>
          <div></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'hp'   , 'asc': sortByAsc}" ng-click="sort('hp')">HP</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'mp'   , 'asc': sortByAsc}" ng-click="sort('mp')">MP</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'att'  , 'asc': sortByAsc}" ng-click="sort('att')">ATT</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'def'  , 'asc': sortByAsc}" ng-click="sort('def')">DEF</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'dex'  , 'asc': sortByAsc}" ng-click="sort('dex')">DEX</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'int'  , 'asc': sortByAsc}" ng-click="sort('int')">INT</a></div>
          <div><a href="#" ng-class="{'sorting': sortBy === 'total', 'asc': sortByAsc}" ng-click="sort('total')">Total</a></div>
          <div><a href="#" ng-click="sort('')">Fire</a></div>
          <div><a href="#" ng-click="sort('')">Ice</a></div>
          <div><a href="#" ng-click="sort('')">Thander</a></div>
          <div><a href="#" ng-click="sort('')">Wind</a></div>
          <div><a href="#" ng-click="sort('')">Explode</a></div>
          <div><a href="#" ng-click="sort('')">Light</a></div>
          <div><a href="#" ng-click="sort('')">Dark</a></div>
          <div><a href="#" ng-click="sort('')">Death</a></div>
          <div><a href="#" ng-click="sort('')">Inmagic</a></div>
          <div><a href="#" ng-click="sort('')">Miss</a></div>
          <div><a href="#" ng-click="sort('')">Toxic</a></div>
          <div><a href="#" ng-click="sort('')">Sleep</a></div>
          <div><a href="#" ng-click="sort('')">Confusion</a></div>
          <div><a href="#" ng-click="sort('')">Stop</a></div>
          <div><a href="#" ng-click="sort('')">Inbreath</a></div>
        </div>
        <div class="table-tr" ng-repeat="result in results">
          <div>
            <div ng-class="{'star-icon0': result.stars <= 0, 'star-icon1': result.stars === 1, 'star-icon2': result.stars === 2, 'star-icon3': result.stars === 3, 'star-icon4': result.stars === 4}"><img class="moster-icon-small" ng-src="{{result.icon}}"></div>
          </div>
          <div>
              No: {{result.no}}<br/>
              Name: {{result.name}}<br/>
              Stars:
              <a href="#" ng-class="{'star-on': result.stars <= 0}" ng-click="changeStars($index, 0)">[0]</a>
              <a href="#" ng-class="{'star-on': result.stars === 1}" ng-click="changeStars($index, 1)">[1]</a> 
              <a href="#" ng-class="{'star-on': result.stars === 2}" ng-click="changeStars($index, 2)">[2]</a> 
              <a href="#" ng-class="{'star-on': result.stars === 3}" ng-click="changeStars($index, 3)">[3]</a> 
              <a href="#" ng-class="{'star-on': result.stars === 4}" ng-click="changeStars($index, 4)">[4]</a>
          </div>
          <div>{{result.hp}}</div>
          <div>{{result.mp}}</div>
          <div>{{result.att}}</div>
          <div>{{result.def}}</div>
          <div>{{result.dex}}</div>
          <div>{{result.int}}</div>
          <div style="text-align: right">{{result.total}}</div>
          <div class="resist-{{result.resist['FIRE']}}">{{result.resist['FIRE']}}</div>
          <div class="resist-{{result.resist['ICE']}}">{{result.resist['ICE']}}</div>
          <div class="resist-{{result.resist['THANDER']}}">{{result.resist['THANDER']}}</div>
          <div class="resist-{{result.resist['WIND']}}">{{result.resist['WIND']}}</div>
          <div class="resist-{{result.resist['EXPLODE']}}">{{result.resist['EXPLODE']}}</div>
          <div class="resist-{{result.resist['LIGHT']}}">{{result.resist['LIGHT']}}</div>
          <div class="resist-{{result.resist['DARK']}}">{{result.resist['DARK']}}</div>
          <div class="resist-{{result.resist['DEATH']}}">{{result.resist['DEATH']}}</div>
          <div class="resist-{{result.resist['INMAGIC']}}">{{result.resist['INMAGIC']}}</div>
          <div class="resist-{{result.resist['MISS']}}">{{result.resist['MISS']}}</div>
          <div class="resist-{{result.resist['TOXIC']}}">{{result.resist['TOXIC']}}</div>
          <div class="resist-{{result.resist['SLEEP']}}">{{result.resist['SLEEP']}}</div>
          <div class="resist-{{result.resist['CONFUSION']}}">{{result.resist['CONFUSION']}}</div>
          <div class="resist-{{result.resist['STOP']}}">{{result.resist['STOP']}}</div>
          <div class="resist-{{result.resist['INBREATH']}}">{{result.resist['INBREATH']}}</div>
        </div>
      </div>
    </div>

    <!-- ranch -->
    <div class="ranch-section" ng-controller="ranchController">
      <div class="ranch-item" ng-repeat="mon in monsters">
          <img src="#" class="monster-icon-small" />
          {{mon}}
      </div>
    </div>

  </body>
</html>
